<app-navbar></app-navbar>

    
<div class="container-fluid">
    <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
        <ul class="nav flex-column">
         
            <li class="nav-item">
            <a class="nav-link" [routerLink]="['/produit']">
                <span data-feather="file"></span>
                Produits
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/categories']">
                <span data-feather="file"></span>
                categories
                </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" [routerLink]="['/fournisseurs']">
                <span data-feather="shopping-cart"></span>
                fournisseurs
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" [routerLink]="['/commande']">
                <span data-feather="users"></span>
                commandes
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" [routerLink]="['/facture']">
                <span data-feather="bar-chart-2"></span>
                Facture
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']">
                <span data-feather="bar-chart-2"></span>
                Se déconnecter
                </a>
            </li>
        </ul>

        </div>
    </nav>
    
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">edit Catégorie</h1>
     
      </div>

<div class="" id="home">
  <div class="container">
      
      <!-- row -->
      <div class="row tm-content-row tm-mt-big">
          <div class="col-xl-8 col-lg-12 tm-md-12 tm-sm-12 tm-col">
              <div class="bg-white tm-block h-100">
                  
                  
    <div class="form-group">
      <label for="exampleFormControlInput1">lib_famille</label>
      <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>   
    </div>
    <button type="submit" class="btn btn-primary">SAVE</button>
 


      
  </div>
</div>
